@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:100,200,300,regular,500,600,700,100italic,200italic,300italic,italic,500italic,600italic,700italic);

@layer base {
* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Josefin Sans", sans-serif;
/* font-size: "18px"; */
}

a{
text-decoration: none;
color: black;
cursor: pointer;
}
}

@layer components{

}

@layer utilities{

}